<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vinateria</title>
	<link href="/static/css/inicio.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<script src="/static/sweetalert.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
<!--Barra de navegación-->
<header>
	<div class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a href="#" class="navbar-brand">
				<img src="/static/img/logo.png" alt="Logo de la Tienda Online" class="logo"> 
				<strong>Tienda Online</strong>
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarHeader">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a href="#" class="nav-link active">Catalogo</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link">Contacto</a>
					</li>
					 <!-- Dropdown -->
					 <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Administrador
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="catalogo">Inicio</a>
							<a class="dropdown-item" href="prod_vol">Agregar Producto</a>
							<a class="dropdown-item" href="productos">Productos</a>
							<a class="dropdown-item" href="escritorio">Proveedores</a>
							<a class="dropdown-item" href="marca">Marca</a>
							<a class="dropdown-item" href="tipo">Tipo</a>
							<a class="dropdown-item" href="volumen">Volumen</a>
							<a class="dropdown-item" href="informe">Reportes</a>
						</div>
					</li>
				</ul>
				</ul>
			</div>
		</div>
	</div>
</header>
<div class="container-fluid mt-4">
	<div class="row">
		<div class="col-sm-2"></div>
			<!-- content goes here -->
			<div class="col-sm-8">
				<h2>Tipo<button class="btn btn-primary float-right" data-toggle="modal"
						data-target="#myModal">Añadir Un Tipo</button></h2>

				{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
				{% for category, message in messages %}
				<script>

					Swal.fire({

						title: "{{ message }}",
						// success , error , warning ,info


						icon: "{{ category }}"
						// success , error , warning ,info

					})

				</script>
				{%endfor%}
				{%endif%}
				{%endwith%}



				<!-- Enter New Student Modal -->
				<div id="myModal" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">

							<div class="modal-header">
								<h5 class="modal-title text-primary" style="align-content: center;">Agrega Nuevo
									Tipo</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>


							<div class="modal-body">

								<form action="{{ url_for('insertTipo')}}" method="POST">
									<div class="form-group">
										<label>Nombre del Tipo</label>
										<input type="text" name="nombre" class="form-control"
											id="exampleFormControlInput1" placeholder="Enter Nombre Del Tipo">
									</div>

									<button type="submit" class="btn btn-primary mb-2">Guardar</button>

								</form>


							</div>
						</div>
					</div>

				</div>


				<!-- End of Enter New Student Modal -->
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Nombre del Tipo</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for tipo in tipos %}
						<tr>
							<td>{{tipo.0}}</td>
							<td>{{tipo.1}}</td>
							<td>
								<a href="/tipo/edit/{{tipo.0}}" class="btn btn-warning btn-sm"
									data-toggle="modal" data-target="#modaledit{{tipo.0}}">Editar</a>
								<a tipodid="{{tipo.0}}" class="btn btn-danger btn-sm btn-eliminar">Eliminar</a>

							</td>
						</tr>


						<!-- Enter New Student Modal -->
						<div id="modaledit{{tipo.0}}" class="modal fade" role="dialog">
							<div class="modal-dialog">
								<div class="modal-content">

									<div class="modal-header">
										<h5 class="modal-title text-primary" style="align-content: center;">Actualizar
											detalles de la tipo</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>


									<div class="modal-body">

										<form action="/tipo/edit/{{tipo.0}}" method="POST">
											<input type="hidden" name="id" value="{{tipo.0}}">
											<div class="form-group">
												<label>Nombre del tipo</label>
												<input value="{{tipo.1}}" type="text" name="nombre"
													class="form-control" id="exampleFormControlInput1"
													placeholder="Enter Nombre del tipo">
											</div>

											<button type="submit" class="btn btn-success mb-2">Actualizar</button>

										</form>


									</div>
								</div>
							</div>

						</div>
						{% endfor %}
					</tbody>

				</table>
			</div>
			


			<div class="col-sm-2"></div>

		</div>
	</div>

	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script src="{{url_for('static', filename='sweetalert.min.js')}}"></script>
	<!-- Option 1: funcionalidad Bootstrap  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>